<div class="custom-input">
  <input
    class="custom-input__field"
    [type]="type"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched()"
  />
  <div
    class="custom-input__errors"
    *ngIf="control && control.invalid && (control.dirty || control.touched)"
  >
    <div
      class="custom-input__error custom-input__error--required"
      *ngIf="control.errors?.['required']"
    >
      {{ requiredError }}.
    </div>
    <div
      class="custom-input__error custom-input__error--minlength"
      *ngIf="control.errors?.['minlength']"
    >
      {{ minLengthError }}.
    </div>
    <div
      class="custom-input__error custom-input__error--not-empty"
      *ngIf="control.errors?.['notEmpty']"
    >
      {{ notEmptyError }}.
    </div>
    <div
      class="custom-input__error custom-input__error--email"
      *ngIf="control.errors?.['email']"
    >
      {{ emailError }}.
    </div>
    <div
      class="custom-input__error custom-input__error--pattern"
      *ngIf="control.errors?.['pattern']"
    >
      {{ phoneError }}.
    </div>
  </div>
</div>
